@use "../0-site/variables";

.dashboard {
    &-hld {
        padding: 16px;
    }

    &-projects {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 24px;
    }

    &-separator {
        border: none;
        border-top: 2px solid white;
        margin: 1rem 0;
    }

    &-action {
        height: 100%;
    }

    &-area {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-new {
        height: 280px;
    }
}
