@use "../0-site/variables";

.tool-bar {
    background-color: variables.$c-white;
    display: flex;
}

.editor {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-hld {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  &-section {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &-split {
    display: flex;
    height: 100%;
  }
}

.gutter {
  background-color: #ddd;
  background-clip: padding-box;

  .gutter-horizontal {
    cursor: col-resize;
  }

  .gutter-vertical {
    cursor: row-resize;
  }
}

.project-window {
  min-height: 200px;
}

.inspector-window {
  padding : 0 10px;
  min-width: 200px;
  overflow: auto;
  height: 100%;
}

.inspector-panel {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 8px;
  user-select: none;
}

.inspector-field {
  min-width: 0;

  &-key {
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.inspector-input {
  justify-self: end;
  &-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  &-container {
    display: flex;
    flex-direction: column;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &-button {
      flex-grow: 1;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-points {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-checkbox {
    display: flex;
    justify-content: center;
  }
}

.component-header {
  display: flex;
  justify-content: space-between;

  &-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;

    &-icon {
      color: #fff;
    }
  }
}

.add-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
  }
}

.toolbar {
  position: absolute;
  top: 10px; 
  left: 10px; 
  z-index: 10;
  background-color: variables.$c-blue;
  display: flex;
  flex-direction: column;

  .toolbar-item {
    background: variables.$c-dark; 
    color: variables.$c-white;
    border-radius: 0;
    font-size: 10px;
  }

  .active {
    background-color: variables.$c-border;
    color: variables.$c-dark;
  }
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.start-stop-btn-toolbar{
  position:absolute;
  top:5%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index:10;

  button {
    font-size: 10px;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    background: variables.$c-dark;
    border-radius: 0;
    border: None;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
