@use "../0-site/variables";

.tool-bar {
    background-color: variables.$c-white;
}

.editor {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-hld {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  &-section {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &-split {
    display: flex;
    height: 100%;
  }
}

.gutter {
  background-color: #ddd;
  background-clip: padding-box;

  .gutter-horizontal {
    cursor: col-resize;
  }

  .gutter-vertical {
    cursor: row-resize;
  }
}

.project-window {
  min-height: 200px;
}

.inspector-window {
  min-width: 200px;
}

.toolbar {
  position: absolute;
  top: 10px; 
  left: 10px; 
  z-index: 10;
  background-color: variables.$c-blue;
  display: flex;
  flex-direction: column;
}

.toolbar-item {
    background: white; 
    border-radius: 0;
    font-size: 10px;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
}
