@use "../0-site/variables";

.tool-bar {
    background-color: variables.$c-white;
    display: flex;
}

.editor {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-hld {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  &-section {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &-split {
    display: flex;
    height: 100%;
  }
}

.gutter {
  background-color: #ddd;
  background-clip: padding-box;

  .gutter-horizontal {
    cursor: col-resize;
  }

  .gutter-vertical {
    cursor: row-resize;
  }
}

.project-window {
  min-height: 200px;
}

.inspector-window {
  padding : 0 10px;
  min-width: 200px;
}

.toolbar {
  position: absolute;
  top: 10px; 
  left: 10px; 
  z-index: 10;
  background-color: variables.$c-blue;
  display: flex;
  flex-direction: column;

  .toolbar-item {
    background: variables.$c-dark; 
    color: variables.$c-white;
    border-radius: 0;
    font-size: 10px;
  }

  .active {
    background-color: variables.$c-border;
    color: variables.$c-dark;
  }
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.start-stop-btn-toolbar{
  position:absolute;
  top:5%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index:10;

   button {
    font-size: 10px;       
    width: 10px;           
    height: 10px;          
    padding: 0;            
    margin: 0;             
    background: variables.$c-dark;
    border-radius: 0;
    border: None;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
