@use "../0-site/variables";

.home {
    &__container {
        max-width: 1000px;
        margin: 0 auto;
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 1.2;
    }

    &__subtitle {
        color: variables.$c-cyan;

        .dark & {
            color: variables.$c-cyan-dark;
        }
    }

    &__content {
        max-width: 600px;
        margin-top: 16px;
        font-size: 1.1rem;
        color: variables.$c-text-secondary;
        line-height: 1.6;

        .dark & {
            color: variables.$c-text-secondary-dark;
        }
    }
}
