@use "../0-site/variables";

.map-wrapper {
  width: 100%;
  flex: 1; 
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  column-span: all;
}

.user-map {
  width: 100vw;
  height: calc(100vh - 66px);
}

.heatmap-ring--outer {
  fill: variables.$c-heat-yellow !important;
  stroke: none !important;
}

.heatmap-ring--mid-outer {
  fill: variables.$c-heat-orange !important;
  stroke: none !important;
}

.heatmap-ring--mid-inner {
  fill: variables.$c-heat-deep-orange !important;
  stroke: none !important;
}

.heatmap-ring--core {
  fill: variables.$c-heat-red !important;
  stroke: none !important;
}