.l-section {
    max-width: 100vw;
    height: 100%;
    text-align: center;

    &--home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    &--email-confirmation,
    &--registration-successful,
    &--login,
    &--register {
        color: black;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    &--change-data {
        color: black;
        display: grid;
        align-items: center;
        justify-content: center;
        overflow: auto;
        height: calc(100% - 46px);
    }
}
