.l-section {
    position: relative;
    overflow: hidden;
    padding: 80px 20px;

    &--email-confirmation,
    &--registration-successful,
    &--login,
    &--register {
        color: black;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    &--change-data {
        color: black;
        display: grid;
        align-items: center;
        justify-content: center;
        overflow: auto;
        height: calc(100% - 46px);
    }
}
