.hierarchy-window {
    user-select: none;
    overflow: auto;
    height: 100%;
    h3 {
        padding: 0 10px;
    }
    &__item {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }
    .buttonContainer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .visibilityButton {
        background-color: transparent;
        border: transparent;
        padding: 0;
        margin: 0;
    }
}
