.otp {
    &-hld {
        justify-content: center;
        gap: 10px;
    }

    &-input {
        border: 1px solid #ccc;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        line-height: 1;
        border-radius: 5px;
        max-width: 1em;
    }

    &-sep {
        font-size: 32px;
    }
}
