@use '0-site/font.scss';
@use '0-site/variables';
@use '0-site/index';
@use '0-site/sections';

@use '1-pages/editor';
@use '1-pages/homepage';
@use '1-pages/register';
@use '1-pages/login';
@use '1-pages/change-data';
@use '1-pages/email-confirmation';
@use '1-pages/registration-successful';
@use '1-pages/dashboard';
@use '1-pages/not-found';

@use '2-components/navbar';
@use '2-components/hierarchy-window';
@use '2-components/otp';

@use '3-elements/buttons';
@use '3-elements/modals';
