name: Deploy to Azure

on:
  workflow_dispatch:
  push:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: |
          pnpm install

      - name: Build
        run: |
          pnpm build

      - name: Deploy
        run: |
          npx swa deploy \
            --env Production \
            --deployment-token ${{ secrets.AZURE_STATIC_WEB_APP_TOKEN }}